body {
    background-color: #020202;
    color: white;
    /* margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%; */
    background-image: url('pics/my\ photo.png');
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
  }

.all {
    
}

.container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

.head {
display: flex;
justify-content: space-between;
}

.sm1 {
    display: flex;
}

.sm2 {
    display: flex;
}

.sm {
    margin-left: 10px;
    margin-right: 10px;
}

/* .logo {
    margin-left: 30%;
    margin-right: 30%;
} */

/* .first-screen {
margin-top: 10%;
margin-left: -3%;
display: flex;
justify-content: space-around;
padding-top: 11%;
} */

.aboutme {
margin-top: 22%;
margin-bottom: 5%;
font-size: 30px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    text-align: center;
}

.about {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.photo {
    border-radius: 50px;
    width: 480px;
    margin-left: 10px;
    margin-right: 10px;
}

.textabout {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.heart {
    font-size: 50px;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

button {
    border-radius: 100px;
    font-family: 'Montserrat';
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 14px;
    color: white;
    background: none;
    border: solid 2px white;
}

a {
    text-decoration: none;
    color: white;
}

.seohyun {
    font-family: 'Open Sans';
    font-size: 250px;
    color: transparent; 
    -webkit-text-stroke: 6px #fff;
  
}

.under_main {
    margin-top: -12%;
    font-family: 'Josefin Sans';
    font-weight: 800;
    font-size: 70px;
    text-align: center;
}

#stars_one {
    position: absolute;
    top: 33%;
    left: 15%;

    width: 128px; 
    transform: rotate(15deg);
}

#stars_two {
    position: absolute;
    top: 50%;
    left: 76%;

    width: 159px;
}

#elem {
    position: absolute;
    top: 39%;
    left: 2%; 

    width: 1795px;
    opacity: 36%;
    z-index: -1;
}