body {
    background-color: #020202;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
  }

.all {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

.head {
    display: flex;
    justify-content: space-between;
    }
    
    .sm1 {
        display: flex;
    }
    
    .sm2 {
        display: flex;
    }
    
    .sm {
        margin-left: 10px;
        margin-right: 10px;
    }

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    text-align: center;
}

.portfolio {
    margin-top: 70px;
}

.photos {
    display: flex;
    height: 500px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.button {
    display: flex;
    justify-content: center;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: white;
    background: none;
    border: solid 2px white;
    border-radius: 100px;
    padding: 13px 25px 15px 25px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}   

.popup {
    display: flex;
    justify-content: center;
}

.first {
    width: 600px;
}

.second {
    width: 400px;
}

.third {
 width: 600px;
}
